<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }} | Dae's Portfolio</title>
        <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    </head>
    <body>
        <div class="container">
            <ul class="tabs">
            {% assign sorted_pages = site.pages | sort: "nav_order" %}
            {% for p in sorted_pages %}
                {% if p.title %}
                <li>
                    <a href="{{ p.url | relative_url }}" 
                    class="{% if page.url == p.url %}active{% endif %}">
                        {{ p.title }}
                    </a>
                </li>
                {% endif %}
            {% endfor %}
            </ul>

            <main>
                {{ content }}
            </main>
        </div>
    </body>
</html>